{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LaTex to JATS</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navbar-Centered-Brand-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="height: 300px;">
    <header style="height: 200px;">
        <div class="card" style="height: 200px;">
            <div class="card-body" style="color: var(--bs-white);background: var(--bs-blue);margin: 0px;">
                <h1 style="text-align: center;margin: 39px 0px 8px;margin-top: 40px;font-size: 60px;">LaTex to JATS</h1>
            </div>
        </div>
    </header>
    <form method="post" enctype="multipart/form-data" style="text-align: center;vertical-align: middle; margin-top: 125px;">
        {% csrf_token %}
        <div class="col" style="margin-bottom: 0px;text-align: center;padding: 20px;background: #e1dede;border-style: solid;border-color: rgb(107, 126, 107);border-radius: 15px;height: auto;margin-left: 250px;margin-right: 250px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" style="width: 60px;min-width: 40px;height: 60px;min-height: 40px;">
                <path d="M11 14.9861C11 15.5384 11.4477 15.9861 12 15.9861C12.5523 15.9861 13 15.5384 13 14.9861V7.82831L16.2428 11.0711L17.657 9.65685L12.0001 4L6.34326 9.65685L7.75748 11.0711L11 7.82854V14.9861Z" fill="currentColor"></path>
                <path d="M4 14H6V18H18V14H20V18C20 19.1046 19.1046 20 18 20H6C4.89543 20 4 19.1046 4 18V14Z" fill="currentColor"></path>
            </svg>
            <p style="margin-top: 10px;font-weight: bold;color: rgb(66, 99, 148);">Browse File (.tex)</p>
            <input type="file" name="file_input" style="margin-left: 50px;margin-bottom: 5px;" accept=".tex">
        </div>
        <p style="margin-top: 10px;font-size: 15px; color: red;">{{error}}</p>
        {% if file_name %}
            <a href="{% static file_name %}" download style="text-decoration:none;">
                <div class="btn btn-primary" type="submit" style="width: 250px;padding: 15px;border-style: solid;border-radius: 14px;margin-top: 10px;margin-bottom: 10px;font-size: 18px;background: rgb(101, 164, 189);font-weight: bold;">
                <i class="fa fa-download"></i>&nbsp;Download {{file_name}}</div>
            </a>
            <br>
        {% endif %}
        <button class="btn btn-primary" type="submit" style="width: 300px;padding: 15px;border-style: solid;border-radius: 14px;margin-top: 10px;margin-bottom: 10px;font-size: 16px;background: rgb(10, 63, 105);font-weight: bold;">Convert</button>
    </form>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>